.new-complaint-container {
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
}



.new-complaint-header {
  font-size: 4em;
  margin-top: 10%;
}

/* form */

.complaint-form {
  display: flex;
  width: 80%;
  margin: auto;
  height: 90em;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.complaint-form>div {
  padding: 1em;
}

.complaint-form>div>input,
textarea {
  margin: 5em 0;
}

#locate-me {
  background-color: #3586fb;
  color: white;
  font-size: 38px;
  border: none;
  margin-left: 20px;
  padding: 15px;
  border-radius: 20px;
}

.location-display {
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

#current-location-field {
  font-size: 2.5em;
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.current-location {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}



input#complaint-title-input {
  height: 6em;
  border-radius: 1.2em;
  border: none;
  min-width: 45em;
  background-color: #f6f6f6;
}

input#complaint-title-input:focus {
  outline: #ffd49c !important;
  border: none !important;
  background-color: white;
}

input#complaint-title-input:focus~.form-label,
input#complaint-title-input:not(:placeholder-shown)+.form-label {
  transform: translateY(-4em) !important;
  transition: 0.1s ease-out;
  color: black;
  font-size: 2.1em;
  font-weight: 800;
}

input#complaint-title-input::-webkit-input-placeholder {
  color: transparent;
}

input#complaint-title-input:focus {

  outline: none !important;
  box-shadow: 0.5rem 1rem 1rem #f6f6f6;
}


.form-label {
  position: absolute;
  left: 5em;
  top: 14.3em;
  transform: translateY(-2em) !important;
  letter-spacing: 1.5px;
  font-size: 2.1em;
  transition: 0.1s ease-in;
  color: #f5a934;
}

.img-container {
  width: 100%;
  height: 20em !important;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#imagePreview {
  border: dotted 1px blue;
  width: 0;
  visibility: hidden;
}

.imageUpload-label {
  width: 100%;
}

.image-icon>i {
  color: #f5a934;
  font-size: 6em;
}

.image-icon>i {
  /* box-shadow: 0.5rem 1rem 1rem #f6f6f6 */
}

.image-icon>i:hover {
  opacity: 0.7;
  font-size: 7em;


}

#imageUpload {
  display: none;
}


textarea#complaint-description-input {
  height: 15em;
  border-radius: 2em;
  border: none;
  width: 45em;
  background-color: #f6f6f6;
}

textarea#complaint-description-input:focus {
  outline: #ffd49c !important;
  border: none !important;
  background-color: white;
}

textarea#complaint-description-input:focus~.form-label-t,
textarea#complaint-description-input:not(:placeholder-shown)+.form-label-t {
  transform: translateY(-4em) !important;
  transition: 0.1s ease-out;
  color: black;
  font-size: 2.1em;
  font-weight: 800;
}

textarea#complaint-title-input::-webkit-input-placeholder {
  color: transparent;
}

textarea#complaint-description-input:focus {

  outline: none !important;
  /* border-color: orange; */
  box-shadow: 0.5rem 1rem 1rem #f6f6f6;
}

.form-label-t {
  position: absolute;
  left: 5em;
  top: 32.3em;

  transform: translateY(-2em) !important;
  letter-spacing: 1.5px;
  font-size: 2.1em;
  transition: 0.1s ease-in;
  color: #f5a934;
}

/* textarea[type="text"] {
  font-size: 3em;
} */

.orange-btn {
  border: none;
  border-radius: 30px;
  width: 54%;
  background: #f5a934;
  padding: 10px 20px;
  font-size: 4em;
  color: white;
  position: relative;
}